@import '../../styles/colors.module';
@import '../../styles/fonts.module';

.main-container {
  width: 100%;
  color: $mainTextColor;
}

.map {
  height: 60vw;
}

.section-top {
  position: relative;
  padding-top: 10px;
  text-align: center;
  color: $lightMainTextColor;
  background: url('../../../public/assets/plane_up_all.png') no-repeat center;
  background-size: contain;
  margin-bottom: 3rem;
}

@media (min-width: 480px) {
  .section-top {
    padding-top: 100px;
    padding-bottom: 50px;
  }
}

.top__header {
  font-weight: $fwBold;
}

.top__subheader {
  margin-top: 1rem;
  font-size: 1.6rem;
}
