@import '../../styles/fonts.module';
@import '../../styles/colors.module';

.section-message {
  position: relative;
  padding-bottom: 150px;
  margin-bottom: 30px;
  background: url('../../../public/assets/plane_down_all.png') no-repeat center;
  background-size: contain;
  background-position: right 60% bottom 50%;
}

.message__header {
  margin-top: 20px;
  font-weight: $fwNormal;
  color: $lightMainTextColor;
  text-align: center;
}

@media (min-width: 480px) {
  .message__header {
    margin-top: 40px;
  }
}
