.review__info-wrapper {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

.chat-buttons-wrapper {
  text-align: right;
}

.review__user-name {
  font-size: 1.6rem;
  line-height: 1.8rem;
  font-weight: bold;
}

.review__text {
  font-size: 1.4rem;
  line-height: 1.8;
}
