.world-map {
  position: relative;
  height: 100vw;
}

@media (min-width: 768px) {
  .world-map {
    height: 40vw;
  }
}

.world-map-marker {
  cursor: pointer;
  fill: #d00000;
}

.mapboxgl-control-container {
  display: none;
}

.map-button {
  position: absolute;
  right: 3px;
  top: 3px;
  border: none;
  background: none;
  transition: transform 0.3s;
  &:hover {
    transform: scale(1.1);
  }
}

.map-button__img {
  width: 6rem;
}
